@media only screen and (max-width: 992px) {
  body,
  h5 {
    background-color: #fafafa;
    font-size: 16px;
  }

  h4 {
    font-size: 20px;
  }

  nav {
    display: none;
  }

  .header,
  .container {
    padding: 0;
    position: relative;
  }

  .header {
    height: auto;
  }

  .header img {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .header .title {
    background-color: #fafafa;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    padding: 100px 20px 60px;
  }

  .header .title h1 {
    font-size: 36px;
  }

  .header .position {
    font-size: 24px;
    margin: 30px 0;
  }

  .header .position i,
  .header .title h1,
  .button,
  .header .position,
  .button i {
    color: #333533;
  }

  .title .button {
    border: 1px solid #333533;
    width: 100%;
    display: inline-block;
    padding: 8px 0;
    background-color: #fafafa;
  }

  .button.lang {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section,
  .section section:last-child {
    width: auto;
    border: none;
    padding: 0 20px;
  }

  .section section {
    border-top: 1px solid #d9d9d9;
    padding: 60px 0;
  }
  .section section h4 {
    margin-top: 0;
    font-size: 20px;
  }

  .contact {
    flex-wrap: wrap;
  }

  .contact div {
    width: 100%;
  }

  .social-icon {
    padding-left: 0;
  }

  .social-icon li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;
  }

  .project {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .mobile-nav {
    display: block;
    background-color: #333533;
    color: #f5f5f5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mobile-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .mobile-nav ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    flex: 1;
  }

  .mobile-nav ul li i {
    margin-right: 5px;
  }

  .mobile-nav ul li.active {
    color: #ffd100;
    border-bottom: 4px solid #ffd100;
  }
}
